* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    height: 15rem;
    margin: 1rem 10rem 0 10rem;
}

header img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

header h1 {
    font-family: 'Nothing You Could Do', cursive;
    margin-left: -3rem;
    margin-bottom: -.5rem;
}

nav {
    position: relative;
    padding-right: 5rem;
}

#circle1 {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border: .2rem solid orange;
    background: rgb(248, 190, 81);
    border-radius: 100%;
    margin-left: -5rem;
    margin-bottom: 4rem;
}

#circle2 {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: .2rem solid red;
    background: rgb(238, 111, 111);
    border-radius: 100%;
    margin-left: -2.5rem;
}

#circle3 {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    border: .2rem solid yellow;
    background: rgb(248, 248, 130);
    border-radius: 100%;
    margin-left: -7rem;
    margin-bottom: 1rem;
}

header a {
    text-decoration: none;
    color: black;
}

main {
    margin-left: 10rem;
    margin-right: 10rem;
}

#aboutMeDiv {
    height: 25rem;
}

#refrencesDiv {
    height: 25rem;
}

#interestsDiv {
    height: 25rem;
}

footer {
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background: lightcoral;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.space-between {
    justify-content: space-between;
}

.place-bottom {
    justify-content: flex-end;
}

.center {
    justify-content: center;
    align-items: center;
}