* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

html {
    background: rgb(241, 235, 226);
}
body {
    width: 100%;
}

/* REUSABLE CLASSES*/
.flex { display: flex; }

.column { flex-direction: column; }

.column-reverse { flex-direction: column-reverse; }

.space-between { justify-content: space-between; }

.place-bottom { justify-content: flex-end; }

.wrap-reverse { flex-wrap: wrap-reverse; }

.wrap { flex-wrap: wrap; }

.center {
    justify-content: center;
    align-items: center;
}

/* HEADER CLASSES */
header {
    height: 15rem;
    width: 100%;
    padding: 1rem 7rem 0 7rem;
}

header img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
}

header h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: lighter;
    font-size: 2.5rem;
    margin-left: -3rem;
    margin-bottom: -.5rem;
}

nav {
    position: relative;
    padding-right: 5rem;
}

#circle1 {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border: .2rem solid orange;
    background: rgb(248, 190, 81);
    border-radius: 100%;
    margin-left: -5rem;
    margin-bottom: 4rem;
}

#circle2 {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: .2rem solid rgb(238, 111, 111);
    background:lightcoral;
    border-radius: 100%;
    margin-left: -2.5rem;
}

#circle3 {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    border: .2rem solid rgb(152, 222, 245);
    background: lightblue;
    border-radius: 100%;
    margin-left: -7rem;
    margin-bottom: 1rem;
}

#circle1:hover {
    cursor: pointer;
    background: rgb(250, 204, 120);
}

#circle2:hover {
    cursor: pointer;
    background: rgb(247, 158, 158);
}

#circle3:hover {
    cursor: pointer;
    background: rgb(199, 231, 243);
}

/* MAIN CLASSES */
main {
    margin: 7rem 7rem 0 7rem; 
}

/* classes for the first div */
#citatDiv {
    height: 12rem;
}

#citatDiv h5{
    font-weight: lighter;
    font-size: 2rem;
    font-family: 'Nothing You Could Do', cursive;
}

/* classes for the second div */
.infoText {
    padding-top: 3rem;
    width: 30rem;
}

#aboutMeDiv {
    height: 30rem;
    margin: 5rem 0 0 0;
    padding: 5rem 0 0 0;
}

#aboutMeButton {
    width: 7rem;
    height: 2rem;
    border-radius: 3rem;
    background-color: lightblue;
    border: .2rem solid rgb(152, 222, 245);
    margin-top: 3rem;
}

#aboutMeButton:hover {
    cursor: pointer;
    background: rgb(199, 231, 243);
}

#aboutMeImgDiv {
    width: 30%;
}

#aboutMeImgDiv img {
    width: 13rem;
    height: 17rem;
    object-fit: cover;
    transform: rotate(20deg);
    border: .5rem solid white;
}

/* classes for the third div */
#refrencesDiv {
    height: 40rem;
    margin: 5rem 0 0 0;
    padding: 5rem 0 0 0;
}

.githubIcon {
    font-size: 15rem;
}

.githubIcon:hover {
    color: rgb(68, 67, 67);
}

#refrencesDiv a {
    color: black;
}

#refrencesDiv ul {
    padding: 5rem 10rem 0 0;
}

/* classes for the fourth div */
#interestsDiv {
    margin-bottom: 10rem;
}

.collage-div {
    width: 70%;
}

.collage {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.collage img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.hiddenImg {
    display: inherit;
}

/* FOOTER CLASSES */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 7rem;
    width: 100%;
    background: rgb(221, 208, 191);
    padding: .5rem 7rem 0 7rem;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: grey;
}

footer i {
    padding-right: 1rem;
    font-size: 1.5rem;
}

